.FooterBox{
    width: 1280px;
    height: 100%;
}
.headTop{
    width: 100%;
    height: 70%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* display: flex; */
}
.leftBoxZwb{
    width: 20%;
    height: 100%;
    float: left;
    border-right: 1px solid #ccc;
}
.leftBoxZwb img{
    width: 165px;
    height: 30px;
}
.mainBoxZwb{
    width: 60%;
    height: 100%;
    border-right: 1px solid #ccc;
    float: left;
    display: flex;
}
.rightBoxZwb{
    width: 19%;
    height: 100%;
    float: left;
}
.box{
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
}
.box span{
    font-size: 12px;
}
.footerBoxZwb{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-self: start;
    flex-wrap: wrap;
}
.strong{
    font-size: 13px;
    font-weight: bold;
}
.ulList{
    /* /* margin: 20px; */
    margin-left: 18px; 
    margin-top: 30px;

}
.ulList li{
    width: 60px;
    /* line-height: 45px; */
    font-size: 12px;
    text-align: center;
    margin: 0 0 16px;
}
.QRCode{
    margin: 50px auto;
    text-align: center;
}
.mainFooterZwb{
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ccc;
}
.footer2{
    width: 100%;
    height: 10%;
}