.midcard_Mac{
    /* width: 1200px; */
    width: 1050px;
    /* background-color: red; */
    height: 400px;
    overflow: hidden;
    position: relative;
}
.midcard_MasterBox{
    display: flex;
    height: 100%;
    transition: transform 1s ease; /* 添加过渡效果，0.3秒的过渡时间，使用ease函数 */
}
.midcard_boxList{
    width: 240px;
    height: 100%;
    text-align: center;
    flex: 0 0 auto; /* flex属性的简写形式，第一个值是flex-grow，第二个值是flex-shrink，第三个值是flex-basis */
}

.midcard_leftBox {
    position:absolute;
    left:3%;
    top:40%;
    width:40px;
    height:40px;
    text-align:center;
    border-radius:50%;
    border: none;
}
.midcard_rightBox {
    position:absolute;
    right: 5%;
    top:40%;
    width:40px;
    height:40px;
    text-align:center;
    border-radius:50%;
    border: none;
    z-index: 999;
}
.midcard_leftBox:hover{
    background-color: blue;
    color: #fff;
}
.midcard_rightBox:hover{
    background-color: blue;
    color: #fff;
}
.midcard_leftHid{
    display: none;
}
.midcard_right{
    display: none;
}
.midcard_rightHid{
    display: none;
}