
/* headlogo */

.HeadLogo_box{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    height: 60px;
    left: 0;
    min-width: 1240px;
    padding: 0 24px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 12;
}
.headlogo_main{
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
}

.img_box {
    width: 168px;
    height: 60px;
    position: relative;
}
.img_box img{
    width: 130px;
    /* height: px; */
    margin-top: 15px;
}
.logo_hover_box{
    width: 200px;
    height: 80px;
    position: absolute;
    left: 40px;
    top:-15px;
    z-index: 23;
    display: none;
}
.logo_hover_box img{
    width: 100%;
    height: 100%;
}
.img_box:hover .logo_hover_box{
   display: block;
}


.HeadLogo_box ul {
    flex: 1;
    width: 600px;
    display: flex;
    cursor: pointer;
}




/* 免费模板 */
.headlogo_main_active{
    background: #1261ff;
    border-radius: 0 0 4px 4px;
    display: none;
    height: 4px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 28px;
    top: 0;
}
.headlogo_main ul li{
    /* flex: 1; */
    width: 60px;
    font-size: 13px;
    line-height: 60px;
    list-style: none;
    margin-left: 20px;
    color: #333;
}
.headlogo_main ul li:first-child{
    position: relative;
    font-weight: 900;
}
.active_box{
     width: 70px;
     text-align: left;
}
.active_box:hover .headlogo_main_active{
    display: block;
}
.down{
    color: #666;
    font-size: 13px;
    height: 16px;
    position: absolute;
    right: -12px;
    top: 23px;
    transform: rotateX(180deg);
    width: 16px;
    line-height: 18px;
}
.tiphot{
    position: absolute;
    right: -6px;
    top: -14px;
    z-index: 22;
}
.active_box:hover .down{
 transform: rotate(0deg);
 color: #1261ff;
}
.headlogo_main ul li:hover{
    color: #1261ff;
}
/* 按钮盒子 */
.button_box{
    width: 230px;
    margin-top: 15px;
    position: relative;
}
.coupons_box{
    position: absolute;
    left: -65px;
    top: 35px;
    z-index: 23;
    transform: bottom;
    animation: reddong 1s linear infinite;
}
.coupons_box img{
    width: 200px;
    height: 40px;
}

/* //动画 */

@keyframes reddong {
    from{
        transform: translateY(-20%);
    }
    to{
         transform: translateY(0);
    }
   
}
/* allmainbox */
.allmain_box{
    width: 100%;
    margin-top: 80px;
    height: calc(100% - 80px);
    /* display: flex; */
}
/* 左侧盒子 */
.allmain_left{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    width: 200px;
    overflow: hidden;
    z-index: 9;
    background: #fff;
}
.allmain_left ul li{
    list-style: none;
    padding-left: 40px;
    font-size: 13px;
    line-height: 40px;
}
.allmain_left ul li span{
    margin-left: 10px;
}
.allmain_left ul li:hover{
    background-color:#eef4ff;
    font-weight: 900;
    color: #1261ff;
}
.allmain_left p{
    font-size: 10px;
    padding-left: 40px;
    color: #666;
    line-height: 40px;
}
.allmain_right{
    margin-left: 200px;
    max-width: 1704px;
    min-width: 1080px;
    /* background-color: pink; */
}







/* 主内容区 */
.All_Main_Right_box{
   width: 100%;
   height: 100%;
   overflow: scroll;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.all_main_head_box{
    width: 100%;
    height: 100px;
    display: flex;
    position: relative;
}
.all_main_head_img{
    width: 260px;
    height: 72px;
}
.all_main_head_search_box{
    flex: 1;
    margin-left: 10px;
    margin-top: 10px;
}
.ant-space-compact{
    margin-left: 10px;
}
.ant-input-affix-wrapper{
    width: 220px;
    height: 32px;
}
.all_main_head_nav ul{
   display: flex;
   width: 410px;
}
.all_main_head_nav ul li{
    list-style: none;
    font-size: 12px;
    color: #666;
    padding:10px;
}
.all_main_head_nav ul li:hover{
    color:#1261ff;
}
.all_main_head_img img{
    width: 100%;
    height: 100%;
}
.all_main_head_data_box{
    width: 260px;
    height: 72px;
    border: 1px solid #e6ebed;;
    cursor: pointer;
}
.all_main_head_data_con{
    width: 226px;
    height: 43px;
    margin: 15px auto;
    /* background-color: red; */
    display: flex;
    justify-content:space-between;
}
.all_main_head_data_right{
    display: flex;
 
}
.all_main_head_data_right p{
    line-height: 40px;
    font-size: 14px;
    padding-left: 10px;
}
.all_main_head_data_right img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.Calendar_box{
    min-width: 984px;
    max-width: 1200px;
    max-height: 760px;
    z-index: 22;
    background-color: white;
    right: 0;
    top: 80px;
    position: absolute;
    border-radius: 8px;
    border: 2px solid #eee;
    box-shadow:#ccc 0px 0px 10px;
}
.Calendar_box_hidden{
    display: none;
}
.all_main_head_data_box:hover+.Calendar_box{
    display:block;
}



/* 页脚 */
.all_footer_box{
    width: 100%;
    height: 560px;
}
.all_master_box{
    width: 100%;
    height: 185px;
    /* background-color: red; */
    position: relative;
}
.all_master_box h3{
    width: 1280px;
    font-size: 20px;
    padding-left: 10px;
}
.all_master_box span{
    font-size: 12px;
    font-weight: normal;
    padding-left:20px ;
}
.all_master_box h3 a{
    float: right;
     font-size: 12px;
    padding-right: 20px;
    font-weight: normal;
    color: #666;
    text-decoration: none;
    line-height: 33px;
}
.Master_box{
    clear: both;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 1;
}






/* 登录页面 */
.login_box{
   width: 100%;
   height: 100%;
    position: relative;
}
.Mask_box{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.login_main{
    width: 800px;
    height: 540px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -400px;
    display: flex;
}

.login_left{
    width: 350px;
    height: 540px;
}
.login_left img{
  width: 100%;
  height: 100%;
}
.login_right{
    flex: 1;
    position: relative;
}
.login_head{
    height: 90px;
    display: flex;
}
.login_head h3{
    padding: 0 0 0 40px;
    line-height: 90px;
}
.login_head p{
    font-size: 11px;
    color: #666;
    line-height: 95px;
    padding-left: 20px;
}

.userinfo_box{
    width: 450px;
    height: 60px;
    /* background-color: pink; */
    position: absolute;
    left: 50%;
     top: 20%;
    margin-left: -150px;
  
}   
.userinfo_con{
  width: 300px;
    display: flex;
    justify-content:space-between;
}
.userinfo_con1{
  width: 300px;
    display: flex;
    justify-content:space-between;
}
.userinfo_box p{
    font-size: 14px;
    line-height: 35px;
}
.userinfo_box1{
    width: 450px;
    height: 60px;
    /* background-color: pink; */
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 30%;
    display: flex;
    justify-content:space-between;
}   
.userinfo_box1 p{
    font-size: 14px;
    line-height: 35px;
}
.qrcode_box p{
    font-size: 14px;
    line-height: 40px;
}
.qrcode_box{
    width: 150px;
    height: 180px;
    /* background-color: pink; */
    margin-top: 150px;
    position: absolute;
    z-index: 22;
    left: 50%;
    top: 15%;
    margin-left: -80px;
}
.login_right button{
    position: absolute;
    z-index: 22;
    left: 50%;
    top: 80%;
    margin-left: -60px;
}
/* 轮播图俩组件 */
.all_main_swiper{
    overflow: hidden;
    width: 100%;
    height: 350px;
    /* float: left; */
    
}

.all_main_swiper>.swiper{
    width: 1280px;
}




/* ---------------details------------ */
.HeadLogo_out{
    width: 100%;
}
.topchoosebox_out{
    width: 100%;
    height: 220px;
    /* background-color: pink; */
}
.topchoosebox_sort{
    width: 100%;
    height: 40px;
}
.topchoosebox_sort ul{
    width: 250px;
    display: flex; 
    margin-left: 10px;
    /* background-color: red;  */
}
.topchoosebox_sort ul li{
    font-size: 13px;
    line-height: 40px;
    margin-left: 10px;
}
.topchoos_active{
   border-bottom: 2px solid #1261ff;
   font-weight: 900;
   color: #1261ff;
}
.details_search{
  margin-top: 15px;
}

/* newlogohead */
.AfterHeadLogo_box{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    height: 60px;
    left: 0;
    min-width: 1240px;
    padding: 0 24px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 12;
}
.Afterheadlogo_main{
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
}

.afterimg_box {
    width: 168px;
    height: 60px;
    position: relative;
}
.afterimg_box img{
    width: 130px;
    height: 22px;
    margin-top: 20px;
}
.afterlogo_hover_box{
    width: 200px;
    height: 80px;
    position: absolute;
    left: 40px;
    top:-20px;
    z-index: 23;
    display: none;
}
.afterlogo_hover_box img{
    width: 100%;
    height: 100%;
}
.afterimg_box:hover .afterlogo_hover_box{
   display: block;
}


.AfterHeadLogo_box ul {
    flex: 1;
    width: 500px;
    display: flex;
    cursor: pointer;
}

/* 免费模板 */
.after_headlogo_main_active{
    background: #1261ff;
    border-radius: 0 0 4px 4px;
    display: none;
    height: 4px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 28px;
    top: 0;
}
.Afterheadlogo_main ul li{
    /* flex: 1; */
    width: 50px;
    font-size: 12px;
    line-height: 60px;
    list-style: none;
    margin-left: 20px;
    color: #333;
}
.Afterheadlogo_main ul li:first-child{
    position: relative;
    font-weight: 900;
}
.afteractive_box{
     width: 70px;
     text-align: left;
}
.afteractive_box:hover .after_headlogo_main_active{
    display: block;
}
.afterdown{
    color: #666;
    font-size: 13px;
    height: 16px;
    position: absolute;
    right: -12px;
    top: 23px;
    transform: rotateX(180deg);
    width: 16px;
    line-height: 18px;
}
.aftertiphot{
    position: absolute;
    right: -6px;
    top: -14px;
    z-index: 22;
}
.afteractive_box:hover .afterdown{
 transform: rotate(0deg);
 color: #1261ff;
}
.Afterheadlogo_main ul li:hover{
    color: #1261ff;
}
/* 按钮盒子 */
.afterbutton_box{
    width: 230px;
    margin-top: 15px;
    position: relative;
}
.aftercoupons_box{
    position: absolute;
    left: -65px;
    top: 35px;
    z-index: 23;
    transform: bottom;
    animation: reddong 1s linear infinite;
}
.aftercoupons_box img{
    width: 200px;
    height: 40px;
}



/* 瀑布流内容 */
.topchoosebox_main{
    width: 100%;
    height: calc(100% - 280px);
    background-color: pink;
}



/* 主页广告展位图 */
.all_main_ads_box{
    width: 100%;
    height: 100px;
    overflow: hidden;
    /* background-color: pink; */
    margin-top: 10px;
    margin-bottom: 10px;
}
.all_main_ads_box img{
    border-radius: 10px;
    width: 1280px;
    height: 100%;
}


/* ----------------------h5盒子 */
.all_main_h5_box1{
    width: 100%;
    height: 400px;
    margin-bottom: 60px;
   
}
.all_main_h5_con1{
    width: 1280px;
    height: 100%;
     /* background-color: pink; */
}

/* 内容撑开高 */
.all_main_h5_box2{
    width: 100%;
  background-color: pink;
}
.all_main_h5_con1{
    width: 1280px;
    height: 100%;
}
/* 登录后样式 */

/* afterloginmain */
.afterlogin_box{
    position: absolute;
    width: 300px;
    height: 500px;
    right: 60px;
    top: 60px;
    box-shadow: 1px 5px 6px #f0f0f0;
    z-index: 22;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.AfterLogin_box{
    width: 100%;
    height: 100%;
}
.afterlogin_head_box{
    width: 90%;
    height: 40px;
    margin-left: 20px;
    display: flex;
    align-content:flex-start;
    justify-content:space-between;
    /* background-color: red; */
}
.afterlogin_head_box h4{
    line-height: 60px;
}
.afterlogin_head_box span{
    display: block;
    width: 35px;
    text-align: center;
    height: 20px;
    background-color: #f4f4f4;
    font-size: 11px;
    border-radius: 5px;
    color: #666;
    margin-top: 20px;
    line-height: 20px;
}
.AfterLogin_box p{
    padding-left: 20px;
    line-height: 30px;
}
.afterlogin_middle_box{
    width: 100%;
    height: 280px;
    background: linear-gradient(to bottom,#bed2eb,rgb(241, 243, 247));
}
.viptext_box{
    margin-left: 15px;
   width: 90%;
   height: 40px;
   display: flex; 
    align-content:flex-start;
    justify-content:space-between;
}
.viptext_box h4{
    line-height: 60px;
}
.viptext_box button{
    font-size: 12px;
    width: 65px;
    border-radius: 5px;
    height: 25px;
    background:linear-gradient(to right,#ebc46f,#d5a055);
    color: #5f4015;
    border: none;
    margin-top: 20px;
}
.afterlogin_footer_box{
    width: 100%;
    display: flex;
}
.afterlogin_footer_con{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08);
    color: #333;
    font-size: 12px;
    height: 45px;
    padding: 11px 0 8px;
    text-align: center;
    width: 85px;
    margin-left: 11px;
    margin-top: 10px;
}
.afterlogin_footer_con p{
    text-align: center;
    margin-right: 15px;
}
.afterlogin_userinfo_box{
    width: 93%;
    height: 60px;
    border-radius: 10px;
    background: #f5f7fb;
    margin-left: 10px;
    margin-top: 10px;
}
.afterlogin__main_con{
    width: 100%;
    height: 80px;
    display: flex;
}
.afterlogin__main_con dl{
    width: 60px;
    height: 80px;
    margin-left: 20px;
    /* background-color: pink; */
}

.afterlogin__main_con dl dt{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin-top: 10px;
}
.afterlogin__main_con dl dd{
    font-size: 10px;
    color: #666;
    line-height: 30px;
}
.afterlogin_button_box{
    width: 100%;
    height: 40px;
}
.afterlogin_button_box button{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #f4f9fe;
    color: #666;
    margin-left: 100px;
    border-radius: 15px;
    border: none;
}